<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lemon&family=Montserrat:wght@500&family=Philosopher:wght@700&display=swap" rel="stylesheet">


</head>
<body>
  <!-- CAŁY GÓRNY PANEL -->
  <header>
    <!-- NAPIS ALPINE -->
    <div class="pageLogo">
      <a href="./">
        <img src="img/Vector.svg" alt="LOGO">
        <b>Alpine</b>
      </a>
    </div>

    <!-- PANEL NAWIGACJI -->
    <nav>
      <input type="checkbox" id="toggler">
      <!-- "HAMBURGER" -->
      <label for="toggler">
        
        <div></div>
        <div></div>
        <div></div>
      </label>
      <ul>
        <li>
          <a href="#">TRAVELLER TYPE</a>
        </li>
        <li>
          <a href="#">COUPLE</a>
        </li>
        <li>
          <a href="#">PROGRAM</a>
        </li>
        <li>
          <a href="#">TRAVELLER TYPE</a>
        </li>
        <li>
          <a href="#">TRAVELLER TYPE</a>
        </li>
      </ul>
    </nav>

  </header>

  <main>
    <div class="wrapper">
      <header>
        <h1>Mountain</h1>
        <h2> Climbing trips & tours</h2>
        <button>VIEW PROGRAM</button>
      </header>

      <article>
        <div class="playButton">
          <span>
            &blacktriangleright;
          </span> 
        </div>
        <header>
          <div class="container"> 
            <h3>Watch Videos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga excepturi animi praesentium nisi eum? Eum beatae mollitia ratione pariatur, necessitatibus harum asperiores aperiam perferendis dignissimos possimus incidunt! Sequi, sit quidem!
            Dolorum maxime ex, optio error aperiam magni quas similique culpa architecto necessitatibus explicabo animi cupiditate provident fuga atque? Illum voluptatum ea mollitia corporis. Illum doloremque corporis rerum sint quibusdam placeat.
            Voluptate fugiat illum accusantium repellat saepe voluptatum incidunt asperiores maiores similique. Eaque sunt nam modi! Impedit quam ratione dolores incidunt explicabo ab veniam optio temporibus, aut, possimus nihil provident iste.
            Veniam ratione asperiores, fuga non velit consectetur praesentium, accusantium vero eum suscipit qui cum, officia aut expedita delectus in animi odit ipsa ut repellat odio distinctio corporis. Veniam, vitae necessitatibus.
            Voluptatibus, in pariatur accusantium, officia et, neque quod asperiores itaque aliquid optio nobis molestiae voluptate? Possimus quam velit, quis ullam pariatur cupiditate, iure tenetur voluptatibus vel, blanditiis unde aut eveniet?
            Tenetur quia eius consequuntur exercitationem, ullam voluptas ex totam distinctio laudantium? Eum magnam adipisci totam quo quae distinctio quidem perspiciatis, maxime, veniam cumque aliquid dolore dicta beatae voluptas consequatur voluptatum.
            Aperiam hic esse, provident cupiditate necessitatibus corporis et quia atque officia veniam quam quidem sunt dolor aspernatur, dignissimos impedit cumque, obcaecati nemo est fuga. Dolores ea dolorum aut culpa mollitia.
            Voluptate, ratione explicabo veniam aperiam odio, officia vel neque voluptatibus a porro ut nobis hic tenetur! Vero quis ipsam porro repellendus, sint eius dolor provident natus similique. Sit, numquam vero!
            </p> 
          </div>
        </header>
      </article>

    </div>
    <!--DODAĆ ABOUT-->
  </main>
  <footer>
    <div class="social">
      <div>
        <a href="#">
          <img src="img/cib_facebook-f.svg" alt="FB">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="img/fontisto_instagram.svg" alt="IG">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="img/bytesize_twitter.svg" alt="TW">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="img/ci_youtube.svg" alt="YT">
        </a>
      </div>
    </div>
  </footer>


</body>
</html>